h1 {
    font-size:100px;
    color: white;
}
h2 {
    font-size:80px;
    color: white;
}
body#hungerstrike {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
div#paragraph {
background: #28343b;
padding: 10px 10px 10px 10px;
background-repeat: no-repeat;
background-size: cover;
}
div#border{
    box-shadow: rgba(0,0,0,.4) 0 3px 8px;
  padding: 10px 10px 10px 10px;
  border: 1px solid rgba(140,140,140,0.8);
  background: rgba(100,100,150,.73);
}
p{
    color: white;
    font-size:20px;
}
p#bullet{
    margin-left: 40px;
}
p#hanging{
    padding-left: 80px ;
  text-indent: -40px ;
}
button#collapse {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b8e1fc+0,a9d2f3+10,90bae4+25,90bcea+37,90bff0+50,6ba8e5+51,a2daf5+83,bdf3fd+100;Blue+Gloss+%231 */
background: linear-gradient(to bottom,  #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: rgba(0,0,0,.2) 0 4px 8px;
  color: #0B2D40;
  cursor: pointer;
  padding: 18px;
  border: 1px solid #3E6C85;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
}
button#collapse:hover {
color: white;
}
div#collapsed {
  display: none;
}
